<h2 class="secondary-title">Welcome {{customerName}}</h2>

<form method="POST" action="/orders/{{customerName}}" class="form">
  <label for="meat">Add some meat:</label>
  <select id="meat" name="meat">
    {{#each data.meats}}
    <option value="{{meat_id}}">{{meat_name}}</option>  
    {{/each}}
  </select>
  <br>
  <label for="veg">Add some veggies:</label>
  <select id="veg" name="veg">
    {{#each data.veggies}}
    <option value="{{veg_id}}">{{veg_name}}</option>
    {{/each}}
  </select>
  <br>
  <label for="sauce">Which sauce:</label>
  <select id="sauce" name="sauce">
    {{#each data.sauces}}
    <option value="{{sauce_id}}">{{sauce_name}}</option>
    {{/each}}
  </select>
 
  <div></div>
  <button>Make my taco</button>
</form>

{{!-- 
Define object that I will recive to render: 
 { name: customerName,
   data: {
     meats: [
    { meat_id: 1, meat_name: 'Chicken', meat_price: 4 },
    { meat_id: 2, meat_name: 'Beef', meat_price: 4 },
    { meat_id: 3, meat_name: 'Fish', meat_price: 4 },
    { meat_id: 4, meat_name: 'Pork', meat_price: 4 }
    ],
   } // closes data
  } //closes object
--}}